@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 224, 227, 233;
  --background-start-rgb: 224, 227, 233;
  --background-end-rgb: 224, 227, 233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 23 37 84 ;
    --background-start-rgb: 224, 227, 233;
    --background-end-rgb: 224, 227, 233;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px black;
  }
}